* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* Header Starts */

.main-header {
  display: flex;
  align-items: center;
  position: relative;
  height: 56px;
  background: #74b9ff;
}

.navbar-brand {
  display: inline-block;
  font-family: 'Lilita One', cursive;
  font-size: 32px;
  margin-left: 32px;
  font-weight: bold;
}

.navbar-brand:hover {
  cursor: pointer;
}

/* Nav Items Starts */

.navbar {
  display: inline-block;
  position: absolute;
  list-style-type: none;
  right: 24px;
}

.navbar li {
  list-style-type: none;
  display: inline-block;
  margin: 0 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  transition: 0.25s;
  padding: 8px 0px;
  border-bottom: 4px solid transparent;
}

.navbar li:hover,
.navbar li:active {
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  transition: 0.25s;
  border-bottom: 4px solid white;
}

.start-hosting-button {
  text-decoration: none;
  background: #0a79df;
  padding: 8px 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  border: 2px solid #0a79df;
  border-radius: 50px;
  color: white;
  margin: auto 0;
  transition: 0.25s;
  margin: auto 8px;
}

.start-hosting-button:hover,
.start-hosting-button:active {
  color: #0a79df;
  background: #fff;
  transition: 0.25s;
}
/* Nav Items Ends */

/* Header Ends */

/* Hero box starts */
.hero-box {
  position: relative;
}

.hero-box__background {
  background: hsl(205, 66%, 42%);
  height: 75vh;
}
/* Hero box Background Ends Here  */

/* Hero-Box Features Starts Here */
.hero-box__features {
  background: #fff;
  width: 400px;
  height: 330px;
  position: absolute;
  top: 15%;
  left: 8%;
  border-radius: 25px;
}

.hero-box__feature-list {
  list-style: none;
  font-size: 48px;
  font-family: sans-serif;
  position: relative;
  margin: auto none;
}

.hero-box__feature-list li {
  margin-top: 32px;
  text-align: center;
  margin-right: 120px;
}

.hero-box__feature-list li img {
  position: absolute;
  width: 48px;
  right: 32px;
  margin-top: 3px;
}
/* Hero-Box Features Ends Here */

/* Hero-Image Starts Here */
.hero-image {
  position: absolute;
  right: 12vw;
  top: 5%;
  width: 480px;
}
/* Hero-Image Ends Here */

/* Pricing Section Starts Here */
.pricing {
  margin-top: 32px;
  text-align: center;
  height: 650px;
}

.pricing__lists {
  left: -16px;
  position: relative;
  display: inline-block;
  list-style: none;
  width: 98vw;
  height: 400px;
  margin: 32px auto;
  text-align: center;
  padding: 0;
}

.pricing__list {
  position: relative;
  display: inline-block;
  background: #eaf0f1;
  border: 2px solid black;
  border-radius: 25px;
  width: 27%;
  margin: 8px;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.3);
  font-size: 24px;
}

.pricing__list.pricing__list--highlighted {
  height: 550px;
  width: 30%;
  background: #7cec9f;
  top: -20px;
  margin: 0 40px;
  box-shadow: 16px 16px 8px rgba(0, 0, 0, 0.5);
}

.pricing__list.pricing__list--highlighted h1 {
  font-size: 48px;
}

.pricing__list h1 {
  display: inline-block;
  font-family: monospace;
  font-size: 40px;
  margin: 40px auto;
}

.plan__features {
  list-style: none;
  text-align: center;
  margin: 0 auto;
  padding: 8px;
  font-family: 'Open Sans', sans-serif;
  background: #dae0e2;
  width: 90%;
  border-radius: 25px;
}

.plan__features.plan__features--highlighted {
  background: #218f76;
  color: white;
}

.plan__features li {
  margin: 20px 0;
}

.select-plan__button.select-plan__button--highlighted {
  margin-bottom: 16px;
  position: relative;
  top: 35px;
}

.select-plan__button {
  text-align: center;
  margin-bottom: 16px;
  color: #000;
  background: #01cbc6;
  font-size: 24px;
  padding: 16px;
  cursor: pointer;
  outline: none;
  margin-top: 32px;
  border: 2px solid #218f76;
  border-radius: 25px;
  transition: 0.25s;
}

.select-plan__button:hover {
  background: #fff;
  transition: 0.25s;
}
/* Pricing Section Ends */
